<% include ../layouts/header.ejs %>
<% include ../layouts/sideBar.ejs %>

<script src="js/Admin/configuration/configuration.js"></script>
<link href="css/fSelect.css" rel="stylesheet">
<script src="js/fSelect.js"></script>
<link rel="stylesheet" href="css/fileSkinCSS.css">
<style>
    .DivDure {
        background-color: white;
        display: inline-flex;
        border: 1px solid #ccc;
        color: #555;
        margin-left: 1.6%;
    }

    .inputHeur {
        border: none;
        color: #555;
        text-align: center;
        width: 35px;
    }

    .inputMin {
        border: none;
        color: #555;
        text-align: center;
        width: 42px;
    }
</style>

<script>
    (function ($) {
        $(function () {
            $('.test').fSelect();
        });
    })(jQuery);
</script>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="content-wrapper" id="pages_breadcrumb">
            <div class="card">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Configuration</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 d-flex align-items-stretch grid-margin">
                <div class="row flex-grow">
                    <div class="col-12 stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title  text-center">les slides </h4>

                                <div class="form-group row d-flex justify-content-center">
                                    <div class="col-xl-10">
                                        <div id="listOfDivs">

                                            <% if(locals.slides){ 
                                                    for(let i=0; i<slides.length; i++){ %>
                                            <div class="forms-sample form-group row"
                                                style="border-bottom: 5px solid #f2f8f9;">
                                                <div class="col-xl-4">
                                                    <img src="images/slides/<%= slides[i].namePicture%>" alt=""
                                                        style="width: 200px; height: 250px; position: relative; object-fit: cover;"
                                                        srcset="">
                                                </div>
                                                <div class="col-xl-8">
                                                    <div class="row">
                                                        <div class="col-xl-4">
                                                            classement
                                                        </div>
                                                        <div class="col-xl-8"><input
                                                                id="numberClass<%=slides[i].idSlide%>" type="text"
                                                                class="form-control" value="<%=slides[i].numberClass%>">
                                                        </div>
                                                    </div>
                                                    <br>

                                                    <div class="row">
                                                        <div class="col-xl-4">
                                                            titre
                                                        </div>
                                                        <div class="col-xl-8"><input type="text"
                                                                id="title<%=slides[i].idSlide%>" class="form-control"
                                                                value="<%=slides[i].title%>">
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-xl-4">
                                                            Offre
                                                        </div>
                                                        <div class="col-xl-8">
                                                            <input list="browsers" id="nomOffre<%=slides[i].idSlide%>"
                                                                class="form-control"
                                                                value="<%=slides[i].idOffre%> <%=slides[i].nomOffre%> ">
                                                            <datalist id="browsers">
                                                                <% if(locals.offres){ 
                                                                        for(let i=0; i<offres.length; i++){ %>
                                                                <option
                                                                    value="<%=offres[i].idOffre%> <%=offres[i].nomOffre%>">
                                                                </option>
                                                                <% }
                                                                }%>
                                                            </datalist>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="d-flex justify-content-end">
                                                        <button type="button" class="btn btn-primary"
                                                            onclick="updateSlide('<%= slides[i].idSlide %>')">modifier</button>&nbsp;&nbsp;
                                                        <button type="button" class="btn btn-danger"
                                                            onclick="deleteSlide('<%= slides[i].idSlide %>')">supprimer<% slides[i].idSlide %></button>
                                                    </div>
                                                    <br>
                                                    <br>
                                                </div>
                                            </div>
                                            <% }}%>
                                            <div id="newDiv" class="forms-sample form-group row"
                                                style="border-bottom: 5px solid red; display: none;">
                                                <div class="col-xl-4">
                                                    <img id="newImage" src=""
                                                        style="width: 200px; height: 250px; position: relative;"
                                                        srcset="">
                                                </div>
                                                <div class="col-xl-8">
                                                    <div class="row">
                                                        <div class="col-xl-4">
                                                            classement
                                                        </div>
                                                        <div class="col-xl-8"><input id="newNumberClass" type="text"
                                                                class="form-control">
                                                        </div>
                                                    </div>
                                                    <br>

                                                    <div class="row">
                                                        <div class="col-xl-4">
                                                            titre
                                                        </div>
                                                        <div class="col-xl-8"><input id="newTitle" type="text"
                                                                class="form-control">
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-xl-4">
                                                            nomOffre
                                                        </div>
                                                        <div class="col-xl-8">
                                                            <input list="browsers" name="newNomOffre" id="newNomOffre">
                                                            <datalist id="browsers">
                                                                <% if(locals.offres){ 
                                                                        for(let i=0; i<offres.length; i++){ %>
                                                                <option
                                                                    value="<%=offres[i].idOffre%> <%=offres[i].nomOffre%>">
                                                                </option>
                                                                <% }
                                                                }%>
                                                            </datalist>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="d-flex justify-content-end">
                                                        <button type="button" class="btn btn-success"
                                                            onclick="addNewSlide()">confirmer</button>
                                                        <button type="button" class="btn btn-Light">annuler</button>
                                                    </div>
                                                    <br>
                                                    <br>
                                                </div>
                                            </div>


                                        </div>

                                    </div>

                                    <button id="buttonInput" type="button" style="display: block;
                                        width: 100%;
                                        border: none;
                                        font-size: 16px;
                                        cursor: pointer;
                                        text-align: center;" class="btn btn-light">
                                        <p id="addNewSlide">ajouter une nouvelle slide</p>
                                        <!-- <img src="images/logo/insert.jpg" alt="" srcset=""> -->
                                    </button>
                                    <input id="pictureFile" name="pictureFile" class="file-upload"
                                        style="display: none;" type="file" accept="image/*" />
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- #################################  -->
<div id="snackbar"> <span class="fa fa-check" style="font-size: x-large;"></span>&nbsp;&nbsp;Succés !
    l'offre
    est
    bien
    ajouté.</div>
<div id="snackbarError"> <span class="fa fa-times" style="font-size: x-large;"></span>&nbsp;&nbsp;Erreur
    !champs
    vide.</div>
<% include ../layouts/footer.ejs %>