<% include ../header.ejs %>
<% include ../sideBar.ejs %>

<script src="js/Administrateur/categorie-sousCat/categorie-sousCat.js"></script>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch grid-margin">
                <div class="row flex-grow">
                    <div class="col-12 stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title  text-center">Ajouter une catégorie</h4>
                                    <div class="forms-sample form-group ">
                                        <div class="row">
                                            <label for="nom" class="col-sm-3 col-form-label">Nom catégorie</label>
                                            <div class="col-sm-7">
                                                <input type="text" name="nom" class="form-control" id="nomCat" placeholder="Veuillez saisir le nom" required>
                                            </div>
                                        </div>
                                        <br/><br/><br/>
                                        <h6 class=" text-center">Ajouter ses sous catégories</h6>
                                        <div id="toDelet2"> 
                                            <div class="row" id='tab_logic2'>
                                                <label for="nom" class="col-sm-3 col-form-label">Nom sous catégorie</label>
                                                <div class="col-sm-7">
                                                    <input type="text" name="nomSC" class="form-control" id="nomSC0" placeholder="Veuillez saisir le nom " required>
                                                </div>
                                                <div class="col-sm-0.5 align-middle">
                                                    <a id="add_row2"><label class="badge badge-success" style="margin-top: 7px;"><span class="fa fa-plus"></label></a>&nbsp;
                                                </div>
                                            </div>
                                        </div>
                                        <br/>
                                        <div id="snackbar"> <span class="fa fa-check" style="font-size: x-large;"></span>&nbsp;&nbsp;Succés ! l'utilisateur est bien ajouté.</div>
                                        <div id="snackbarError"> <span class="fa fa-times" style="font-size: x-large;"></span>&nbsp;&nbsp;Erreur !champs vide ou pseudo existe déja.</div> 
                                       
                                        <br/><br/>
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <button  id="submit" class="btn btn-success mr-2">Confirmer</button>
                                                <button class="btn btn-light"  onclick="resetFileds()" >Annuler</button>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
           
            <div class="col-md-6 d-flex align-items-stretch grid-margin">
                <div class="row flex-grow">
                    <div class="col-12 stretch-card">
                        <div class="card">
                                <div class="col-12 grid-margin">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title text-center">Liste des administrateurs</h4>
                                            <div class="table-responsive">
                                                    <table class="table table-bordered table-hover" id="tableau2">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center"> N°</th>
                                                                <th class="text-center"> Nom</th>
                                                                <th class="text-center"> email</th>
                                                                <th class="text-center"> télèphone</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody >
                                                            <% if(locals.respoAdmin){
                                                                for(let i=0; i<respoAdmin.length; i++){ %>
                                                                    <tr>
                                                                        <td class="text-center"><%= i+1 %></td>
                                                                        <td class="text-center" uppercase><%= respoAdmin[i].nom %>&nbsp;<%= respoAdmin[i].prenom %></td>
                                                                        <td class="text-center"><%= respoAdmin[i].mail %></td>
                                                                        <td class="text-center"><%= respoAdmin[i].tel %></td>
                                                                    </tr>
                                                             <% }  }%>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
<% include ../footer.ejs %>
