<% include layout/header.ejs %>
<script src="js/Client/produits/produits.js"></script>

<!-- Hero section -->
<section class="hero-section">
	<div class="hero-slider owl-carousel">
		<% if(locals.slides){ 
			for(let i=0; i<slides.length; i++){ %>
		<div class="hs-item set-bg" data-setbg="images/slides/<%= slides[i].namePicture %>">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-7 text-white">
						<span><%= slides[i].title %></span>
						<h2><%= slides[i].nomOffre %></h2>
						<p><%= slides[i].description %> </p>
						<a href="/produit?code=<%= slides[i].idOffre %>" class="site-btn sb-line">DISCOVER</a>
						<a href="#" onclick="addItem()" class="site-btn sb-white">ADD TO CART</a>
					</div>
				</div>
				<div class="offer-card text-white">
					<span>from</span>
					<h2><%= slides[i].prix %> </h2>
					<p>DH</p>
				</div>
			</div>
		</div>
		<%}
		} %>
	</div>
	<div class="container">
		<div class="slide-num-holder" id="snh-1"></div>
	</div>
</section>
<!-- Hero section end -->



<!-- Features section -->
<section class="features-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 p-0 feature">
				<div class="feature-inner">
					<div class="feature-icon">
						<img src="divisima/img/icons/1.png" alt="#">
					</div>
					<h2>Fast Secure Payments</h2>
				</div>
			</div>
			<div class="col-md-4 p-0 feature">
				<div class="feature-inner">
					<div class="feature-icon">
						<img src="divisima/img/icons/2.png" alt="#">
					</div>
					<h2>Premium Products</h2>
				</div>
			</div>
			<div class="col-md-4 p-0 feature">
				<div class="feature-inner">
					<div class="feature-icon">
						<img src="divisima/img/icons/3.png" alt="#">
					</div>
					<h2>Free & fast Delivery</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Features section end -->


<!-- letest product section -->
<section class="top-letest-product-section">
	<div class="container">
		<div class="section-title">
			<h2>LATEST PRODUCTS</h2>
		</div>
		<div class="product-slider owl-carousel">
			<div class="product-item">
				<div class="pi-pic">
					<img src="divisima/img/product/1.jpg" alt="">
					<div class="pi-links">
						<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
						<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
					</div>
				</div>
				<div class="pi-text">
					<h6>$35,00</h6>
					<p>Flamboyant Pink Top </p>
				</div>
			</div>
			<div class="product-item">
				<div class="pi-pic">
					<div class="tag-new">New</div>
					<img src="divisima/img/product/2.jpg" alt="">
					<div class="pi-links">
						<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
						<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
					</div>
				</div>
				<div class="pi-text">
					<h6>$35,00</h6>
					<p>Black and White Stripes Dress</p>
				</div>
			</div>
			<div class="product-item">
				<div class="pi-pic">
					<img src="divisima/img/product/3.jpg" alt="">
					<div class="pi-links">
						<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
						<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
					</div>
				</div>
				<div class="pi-text">
					<h6>$35,00</h6>
					<p>Flamboyant Pink Top </p>
				</div>
			</div>
			<div class="product-item">
				<div class="pi-pic">
					<img src="divisima/img/product/4.jpg" alt="">
					<div class="pi-links">
						<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
						<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
					</div>
				</div>
				<div class="pi-text">
					<h6>$35,00</h6>
					<p>Flamboyant Pink Top </p>
				</div>
			</div>
			<div class="product-item">
				<div class="pi-pic">
					<img src="divisima/img/product/6.jpg" alt="">
					<div class="pi-links">
						<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
						<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
					</div>
				</div>
				<div class="pi-text">
					<h6>$35,00</h6>
					<p>Flamboyant Pink Top </p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- letest product section end -->



<!-- Product filter section -->
<section class="product-filter-section">
	<div class="container">
		<div class="section-title">
			<h2>Listes du notre article</h2>
		</div>
		<div class="row">
			<% if(locals.produits){ 
				for(let i=0; i<produits.length; i++){ %>
			<div class="col-lg-3 col-sm-6">
				<div class="product-item">
					<div class="pi-pic">
						<img src="images/offre/<%= produits[i].image %>" alt="produitImage"
							style="cursor:pointer; width: 100%; height: 300px;" data-toggle="modal"
							data-target="#myModal<%= produits[i].idOffre %>">
						<div class="pi-links">
							<a style="cursor: pointer"
								onclick="addItem('<%= produits[i].idOffre %>','<%= produits[i].prix %>')"
								class="add-card"><i class="flaticon-bag"></i><span>AJOUTER</span></a>
						</div>
					</div>
					<div class="pi-text">
						<h6><%= produits[i].prix %> <%= locals.devis %></h6>
						<p><%= produits[i].nom %></p>
						<p><a href="produit?code=<%= produits[i].idOffre %>" target="_blank">Plus...</a></p>
					</div>
				</div>
			</div>
			<%}} %>
		</div>
		<% if(locals.produits){ 
			for(let i=0; i<produits.length; i++){ %>
		<!-- Debut Modal-->
		<div id="myModal<%= produits[i].idOffre %>" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<button type="button" class="close" data-dismiss="modal">&times;</button><br>
				<!-- Modal content-->
				<div class=" modal-content" id="content" style="height: 10px">
					<% if(locals.images){ %>
					<img src='images/offre/<%= produits[i].image %>' alt='produitImage'>
					<div class='product-slider owl-carousel' id='imageSlide'>
						<% for(let j=0; j<images.length; j++){ %>
						<% if(produits[i].idOffre === images[j].Offre_idOffre){ %>
						<img id="image<%= j %>" style="height: 135px" src='images/offre/<%= images[j].nom %>'
							style="cursor:pointer" onclick="updateImage('<%= j %>','<%= produits[i].idOffre %>')"
							alt='produitImage'>
						<%}}%>
					</div>
					<%}%>
			            </div>		
					</div>
				</div>
				<!-- Fin Modal-->
			<%}
		} %>
					<div class="text-center pt-5">
						<a href="articles" class="site-btn sb-line sb-dark">Lire Plus</a>
					</div>
				</div>
</section>
<!-- Product filter section end -->


<!-- Banner section -->
<section class="banner-section">
	<div class="container">
		<div class="banner set-bg" data-setbg="divisima/img/banner-bg.jpg">
			<div class="tag-new">NEW</div>
			<span>New Arrivals</span>
			<h2>STRIPED SHIRTS</h2>
			<a href="#" class="site-btn">SHOP NOW</a>
		</div>
	</div>
</section>
<!-- Banner section end  -->

<% include layout/footer.ejs %>